---
import FlechaDerecha from "./FlechaDerecha.astro";
import FlechaIzquierda from "./FlechaIzquierda.astro";
import Whatsapp from "./Whatsapp.astro";
---

<section
  id="contacto-section"
  class="w-full h-auto hidden bg-bg-secondary lg:flex flex-col items-center justify-center"
>
  <div class="flex flex-row justify-around w-full">
    <div
      id="flecha-container-izquierda"
      class="w-full lg:h-[250px] xl:h-[400px]  text-white ml-[120px]"
    >
      <FlechaIzquierda />
    </div>
    <div
      id="flecha-container"
      class="w-full lg:h-[250px] xl:h-[400px] p-0 flex justify-end items-start text-white mr-[120px]"
    >
      <FlechaDerecha />
    </div>

  </div>
  <div id="ws-container" class="opacity-0 transition-opacity duration-1000">
    <Whatsapp />
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const flechaContainer = document.getElementById("flecha-container");
    const flechaContainerIzquierda = document.getElementById("flecha-container-izquierda");
    const wsContainer = document.getElementById("ws-container");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            flechaContainer?.classList.add("animate-slideRight");
            flechaContainerIzquierda?.classList.add("animate-slideIn");
            wsContainer?.classList.add("opacity-100");
            wsContainer?.classList.remove("opacity-0");
          } else {
            flechaContainer?.classList.remove("animate-slideRight");
            flechaContainerIzquierda?.classList.remove("animate-slideIn");
            wsContainer?.classList.remove("opacity-100");
            wsContainer?.classList.add("opacity-0");
          }
        });
      },
      { threshold: 0.1 }
    );

    const contactoSection = document.getElementById("contacto-section");
    if (contactoSection) {
      observer.observe(contactoSection);
    }
  });
</script>
