---
import Whatsapp from "./Whatsapp.astro";
---

<section
  id="contacto-section"
  class="w-full h-auto hidden bg-bg-secondary lg:flex flex-col items-center justify-center"
>
  <div id="ws-container" class="opacity-0 transition-opacity duration-1000">
    <Whatsapp />
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const wsContainer = document.getElementById("ws-container");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            wsContainer?.classList.add("opacity-100");
            wsContainer?.classList.remove("opacity-0");
          } else {
            wsContainer?.classList.remove("opacity-100");
            wsContainer?.classList.add("opacity-0");
          }
        });
      },
      { threshold: 0.1 }
    );

    const contactoSection = document.getElementById("contacto-section");
    if (contactoSection) {
      observer.observe(contactoSection);
    }
  });
</script>
