<!-- CREADA POR GABRIEL MARTINEZ https://goo.su/KMaSY  CON ❤️ -->
<footer class="w-ful h-auto bg-header text-white py-8">
  <div class="max-w-[1440px] mx-auto px-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-6 md:mb-0">
        <a
          href="https://www.matrimonios.cl/centros-de-eventos/les-bourgeois--e110889"
          target="_blank"
        >
          <img
            src="/badge-rated-50.webp"
            alt="Badge Matrimonios.cl"
            class="w-auto h-[200px]"
          /></a
        >
      </div>
      <div
        class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8 text-center md:text-left"
      >
      <a
      href="https://www.matrimonios.cl/centros-de-eventos/les-bourgeois--e110889"
      target="_blank"
    ><img
          src="/badge.webp"
          alt="premios matrimonios.cl"
          class="w-auto h-[120px]"
        /></a>
        <a
        href="https://www.matrimonios.cl/centros-de-eventos/les-bourgeois--e110889"
        target="_blank"
      ><img
          src="/badge2.webp"
          alt="premios 2023 matrimonios.cl"
          class="w-auto h-[120px]"
        /></a>
        <a
        href="https://www.matrimonios.cl/centros-de-eventos/les-bourgeois--e110889"
        target="_blank"
      ><img
          src="/badge3.webp"
          alt="premios 2021 matrimonios.cl"
          class="w-auto h-[120px]"
        /></a>
        <a
        href="https://www.matrimonios.cl/centros-de-eventos/les-bourgeois--e110889"
        target="_blank"
      ><img
        src="/badge4.webp"
        alt="premios 2020 matrimonios.cl"
        class="w-auto h-[120px]"
      /></a>
      </div>
    </div>
    <div class="mt-8 text-center text-sm text-gray-400">
      <p>©  LesBourgeois | Centro de Eventos  </p>
    </div>
  </div>
</footer>
