<section class="w-full h-40 bg-primary  text-white flex flex-col gap-3 items-center justify-center">
    <h1 class="text-2xl font-jakarta tracking-[4.4px] lg:text-4xl text-center ">Crea recuerdos en el espacio ideal para tus celebraciones</h1>
    <!-- <div class="w-[75%] h-[1px] bg-white mt-1"></div> -->

</section>