<section class="w-full flex flex-col md:flex-row  min:h-[500px] h-full bg-primary font-jakarta p-6 text-white">
  <div class="flex-1 text-center p-4 border-b-2 md:border-b-0 md:border-r-2 border-white items-center justify-center">
    <h2 class="text-5xl font-bold tracking-[4.4px]">Misión</h2>
    <p class="text-justify pt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ex tempora harum suscipit, sint ullam minima repellat laboriosam fuga consequatur, quidem sit odit quas quo libero, voluptatem nulla commodi perferendis!.</p>
  </div>
  <div class="flex-1 p-4 text-center" >
    <h2 class="text-5xl font-bold tracking-[4.4px]">Visión</h2>
    <p class="text-justify pt-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus officiis aperiam, est nam eum blanditiis suscipit quidem autem. Molestiae impedit architecto quam maxime fugiat in, voluptatibus corrupti quibusdam ullam. Repellendus?</p>
  </div>
</section>