<section 
  class="flex flex-col md:flex-row items-center bg-primary px-6 font-jakarta "
>
  <div class="flex-1 p-4">
    <h2 class="md:text-4xl text-3xl text-center lg:text-6xl font-bold tracking-[4.4px] text-white w-auto">
      Quiénes Somos
    </h2>
    <p class="text-lg mb-4 text-justify mt-10 text-white">
      En el Centro de Eventos Les Bourgeois, nos enorgullece ofrecer
      experiencias inolvidables en cada celebración. Nuestra historia comienza
      en 1994, cuando Rubén Bourgeois, fundador y apasionado banquetero, inició
      este viaje ofreciendo servicios de banquetería de alta calidad. Con el
      tiempo, dedicación y gracias al esfuerzo, dimos un gran paso en 2017 al
      inaugurar nuestro propio centro de eventos, ubicado en Mantagua, en la
      hermosa Quinta Región de Valparaíso.
    </p>
    <p class="text-lg mb-4 text-justify mt-3 text-white">
      Les Bourgeois es una empresa familiar donde cada detalle es cuidado con
      esmero, y donde buscamos crear ambientes únicos que reflejen el espíritu
      de cada celebración. Ofrecemos un servicio "todo incluido" que asegura la
      tranquilidad y satisfacción de nuestros clientes, permitiéndoles disfrutar
      de su evento sin preocupaciones.
    </p>
    <p class="text-lg mb-4 text-justify mt-3 text-white">
      Desde matrimonios y bautizos hasta graduaciones y fiestas corporativas,
      nos especializamos en hacer realidad los sueños de nuestros clientes,
      brindando un espacio elegante y versátil, rodeado de naturaleza y encanto.
      En Les Bourgeois, nos comprometemos a hacer de cada evento una experiencia
      única y memorable.
    </p>
  </div>
  <div class="flex-1 p-4 flex justify-center">
    <img
      src="/imagen1.webp"
      alt="Quiénes Somos"
      class="w-64 h-64 md:w-[500px] md:h-[500px] object-cover rounded-full md:rounded-[50%_50%_50%_50%/60%_60%_40%_40%]"
    />
  </div>
</section>
