<section
  id="ubicacion-section"
  class="w-auto min-h-[1160px] h-auto relative mx-auto bg-bg-secondary object-cover bg-no-repeat   flex items-center  justify-center md:justify-between "
>
<div class="w-[500px] md:w-[500px]  md:h-[350px] bg-white lg:absolute top-0 right-0 bottom-0  sm:left-[10rem] lg:left-[21rem] my-auto z-10 flex items-center flex-col justify-center p-4 shadow-lg rounded-sm">
    <h2 class="font-jakarta tracking-[4.4px]  text-4xl font-bold text-center text-gray-800">Ven y conócenos</h2>
    <h2 class="font-jakarta tracking-[3px]  text-xl font-semibold text-center text-primary mt-5">No te arrepentirás</h2>
</div>
  <div class="w-[1200px] h-full absolute right-0">
    <a href="https://maps.app.goo.gl/j5hCkHjNRDWpqyzi8" target="_blank"><img src="/mapa.png" alt="Mapa" class="w-full h-full object-cover" /></a>
  </div>
</section>
