---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Centro De Eventos | LesBourgeois</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />

    <script src="https://code.jquery.com/jquery-latest.min.js" defer></script>
  </head>
  <body>
    <Header />
    <main class="mx-auto">
      <a
        href="https://api.whatsapp.com/send?phone=+56932365287&text=Quiero%20informaci%C3%B3n%20de%20su%20centro%20de%20eventos"
        class="float md:hidden"
        target="_blank"
      >
        <i class="fa fa-whatsapp my-float"></i>
      </a>
      <slot />
    </main>
    <Footer />
    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
      .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        z-index: 100;
      }

      .my-float {
        margin-top: 16px;
      }
    </style>
  </body>
</html>
